/*
#include<iostream>
using namespace std;
protbuffclass{
public:void display(void) 
};
__bool__::protobuff
  set void error;
end if
} */
/*___________________________sonpanabtej______________________________________ */
input{font-size:30px;color:Green;font-family:cursive;}label{font-size:30px;color:blue;font-family:cursive;}#xor{font-size:30px;float:center;color:white;background:lightgreen;text-align:center;}body{background-color:lightpink;}#Warning{background-color:black;color:green;border-style:2px solid blue;border-radius:30px;font-size:30px;font-family:courier;text-align:center;}#sample{background-color:green;color:white;border-style:2px solid blue;border-radius:30px;font-size:30px;
font-style:italic;font-family:courier;text-align:center;}
